@charset "utf-8";
/* CSS Document */

*{
  box-sizing: border-box;
}

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	/* position:relative; */
}
ul, li {
	font-family: 'Lato', Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lobster', Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  margin: auto;
  width: 100%;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
  display: flex;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
    font-size: 1.5em;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover,
#breadcrumb li a:focus {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  min-height: 10vh;
  background-color: #3397DB;
  text-align: center;
  padding: 1em;
}
.filter-options h2 {
  color: #fff;
  font-size: 2em;
  font-weight: 300;
  line-height: 1;
  margin: 0 20px;
  letter-spacing: 6px;
}
.filter-options select {
  background-color: #fff;
  border: 1px solid #fff;
  font-family: 'Lato', Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
  /* border-radius: 10px; */
}
.filter-options select:hover{
  outline-color: #aaa;
}
#neighborhoods-select:focus,
#cuisines-select:focus,
#neighborhoods-select:hover,
#cuisines-select:hover {
  /* border: 2px solid black; */
  /* outline: 2px solid #000; */
  box-shadow: inset 0 0 2px 2px rgb(66, 38, 38);
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
  display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #e7e2e2;
  margin: 20px 4px;
  min-height: 380px;
  padding: 25px 30px 25px;
  text-align: left;
  min-width: 250px;
  border-radius: 10px;
  width: 260px;
}
#restaurants-list li:hover,
#restaurants-list li:focus {
  box-shadow: 0px 0px 11px 2px;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 10px 0 0 0;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 2px #5c0a0a;
}
#restaurants-list li h3 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 1.2em;
  font-family: 'lato',Arial, Helvetica, sans-serif;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
#restaurants-list li a:hover,
#restaurants-list li a:focus {
  background-color: #5c0a0a;
  font-weight: 700;
  transition: all 0.5s;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  width: 100%;
  height: 20%;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 400px;
  width: 100%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #maincontent {
  display: flex;
  flex-wrap: wrap;
}
.wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 2px #5c0a0a;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
}
#restaurant-container, 
#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 40px;
  max-width: 800px;
  width: 100%;
  margin: 0 10px;
  text-align: center;
}
#reviews-container {
  padding: 30px 40px 80px;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  margin: 20px;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 2px #5c0a0a;
}
#reviews-list li p {
  margin: 10px 0 5px;
  text-align: justify;
}
#restaurant-hours td {
  color: #666;
  text-align: justify;
  padding-left: 20px;
}
.name {
  background-color: #333;
  color: white;
  padding: 15px;
  font-size: 1.5em;
}
.date {
  position: absolute;
  top: 20px;
  right: 40px;
  color: #ddd;
  font-size: 1.2em;
}
.rating {
  position: absolute;
  top: 75px;
  left: 20px;
  font-size: 1.2em;
  font-weight: bold;
  width: 104px;
  background-color: #ffa500;
  border-radius: 10px;
  color: #fff;
  text-transform: uppercase;
  padding: 10px;
}
.comments {
  padding: 55px 15px 15px 15px;
  font-size: 1.2em;
  color: #333;
  text-align: justify;
}
.skip-link {
  position: absolute;
  top: -80px;
  left: 0;
  background: #BF1722;
  font-weight: 900;
  font-size: 1.5em;
  padding: 8px;
  z-index: 100;
}
.skip-link:focus {
  top: 0;
  color: white;
}
.focus:focus {
  box-shadow: 0 0 15px black;
  transition: all 0.5s;
}
.focus_white:focus {
  box-shadow: 0 0 15px white;
  transition: all 0.5s;
}
.inside #footer {
  bottom: 0;
  position: fixed;
  width: 100%;
}

/* ====================== Media Queries ====================== */
@media screen and (max-width: 458px) {
  #neighborhoods-select,
  #cuisines-select {
      width: calc(100% - 20px);
  }
  #map,
  .inside #map-container {
    height: 300px;
  }
}
@media screen and (max-height: 458px) {
  #map,
  .inside #map-container {
    height: 200px;
  }
  .nav {
    height: 30px;
  }
}
@media screen and (max-width: 850px) {
  #breadcrumb li {
      font-size: 1.3em;
  }
  .nav {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .nav h1 a {
    font-size: 0.7em;
  }
}
@media screen and (min-width: 1360px) {
  #restaurant-container,
  #reviews-container {
      margin-top: 0;
      padding: 0;
  }
  #restaurant-name,
  #reviews-container h3 {
      margin: 20px;
      padding: 15px;
      line-height: 1;
      font-size: 2em;
    }
  #restaurant-container, #reviews-container {
      border-bottom: none;
      border-top: none;
  }
}
